<div class="signIn-left">
  <div class="signIn-title">
    <div class="signIn-logo">
      <div>a2f</div>
      <div>Summer</div>
      <div>Challenge</div>
    </div>
  </div>
  <br>
  <p>
    a2f Irvine's Summer Challenge is an opportunity for us to all challenge ourselves to continue to grow in our love for the Word of God, capacity, servanthood, physical health, and so much more! This web dashboard will serve as the hub for monitoring our social media campaign of self-reported achievements in the challenge.
  </p>
</div>
  
<div class="signIn-right">
  <a class="waves-effect waves-light btn-small teal lighten-2" href="/auth/google_oauth2">
    <i class="material-icons left">account_circle</i>
    Sign in with Google
  </a>
</div>
