// Data Layout

.container {
    margin-top: 20px;
    width: 80%;
    border: unset;
}

.empty_collection {
    margin-top: 30px;
    border: unset;

    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: rgb(150, 150, 150);
    text-align: center;
}

.swap-modes {
    float: left;
}

.table-options {
    text-align: right;
}

.table-option {
    margin-left: 5px;
}

.form_label {
    font-weight: 400;
}

.hidden_data {
    display: none;
}

.form_row {
    margin-bottom: 0px;
}
