// General CSS Layout

html {
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: .3px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a:hover {
    text-decoration: none;
}

.content {
  height: 100%;
  width: 100%;
  background: rgb(239, 239, 239);
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
     border: 2px solid #54c9ec;
     background-color: #54c9ec;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
