.modal.modal-fixed-footer {
    height: 430px;
}

.modal_title {
    margin-top: 0px;
    margin-bottom: 30px;
}

.modal-content {
    font-size: 14px;

    h6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.edit_post_author_profile {
    margin-right: 10px;
    float: left;
}
