// NAVIGATION

.nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.nav_userIcon {
  margin-top: 10px;
  margin-right: 35px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #144a84, 0 0 0 3px transparentize($primary-color, .7);
  overflow: hidden;
}

.nav_item {
  font-size: 14px;
  float: right;
}

.logout {
  font-size: 14px;
  color: rgb(255, 255, 255);

  i {
    margin-top: -15px;
    margin-right: 5px;
  }

  .nav_item {
    &:hover {
      background-color: transparentize(rgb(255, 0, 0), .85);
    }
  }
}
