.notice.wide-notice {
  left: 0;
  width: 100%;
  border-radius: 0px;
}

.notice {
  position: fixed;
  display: inline-block;

  left: 35vw;
  top: 0;
  width: 30vw;
  border-radius: 0px 0px 25px 25px;
  padding: 12px 25px;
  z-index: 2;

  color: white;
  text-align: center;
}

.notice-icon {
  margin-right: 6px;
}

.notice-text {
    vertical-align: super;
}
