// SIGN IN PAGE

.signIn {
  $sign-in-background: url("signin_background.jpg");

  align-items: center;
  background: $sign-in-background;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  justify-content: middle;
  width: 100%;
  height: 100vh;

  .signIn-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow:  0 1px 100px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 8px;
    background-color: transparentize(white, 0.75);
    border-radius: 3px;

    .signIn-title {
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 4px;
      text-transform: uppercase;
      width: 150px;
      height: 150px;
      border: solid 2px white;
      margin: 0 auto;
      display: flex;
      align-items: center;

      .signIn-logo {
        display: inline-block;
        margin: 0 auto;
      }
    }

    .signIn-subtitle {
      font-size: 18px;
      letter-spacing: 3px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .signIn-left {
      background-color: rgba(0, 0, 0, 0.75);
      padding: 50px;
      color: white;
      width: 400px;
    }

    .signIn-right {
      background-color: transparentize(white, 0.13);
      padding: 40px;
      width: 275px;
      display: flex;
      align-items: center;

      .btn-small {
        font-size: 12px;
      }

      i.left {
        margin-right: 10px;
      }

    }
  }

  .signIn_highlight {
    border-radius: 3px;
    background-color: transparentize(white, 0.8);
    padding: 12px;
    text-align: center;
  }
}
