          <% if @posts.length > 0 %>
            <ul class="collection">
              <% @posts.each do |post| %>
                    
                <li class="collection-item avatar">
                  <% post_message = post.message.split(" ") %>
                  <% post_message_hashtags = post_message.map { |word| word.starts_with?("#") ? "<strong>#{word}</strong>" : word } %>
                  <% post_message = post_message_hashtags.join(" ").html_safe %>
          
                  <img src="<%= post.profile_link %>" alt="" class="circle post_author_profile">
                  <span class="title post_author"><%= post.author %></span>
                  <p class="post_timestamp"><%= post.timestamp %></p>
                  <p class="post_message"><%= post_message %></p>
                  <p class="hidden_data">
                    <span class="post_id"><%= post.id %></span>
                    <span class="post_team"><%= post.team %></span>
                    <span class="post_challenges"><%= post.challenges == "" ? "" : post.challenges.join(", ") %></span>
                    <span class="post_is_processed"><%= post.is_processed %></span>
                  </p>

                  <button data-target="data-modal" class="waves-effect waves-light btn btn-small blue lighten-2 secondary-content modal-trigger">
                    <i class="material-icons left">edit</i>
                    Edit Post Points
                  </button>
                </li>
        
              <% end %>
            </ul>

            <div id="data-modal" class="modal modal-fixed-footer">
              <%= form_for "", url: edit_posts_path(1) do |f| %>
                <div class="modal-content">

                  <h5 class="modal_title">Edit Post Details</h5>
                  <div class="row">
                    <div class="col s6">
                      <img src="" class="circle edit_post_author_profile">
                      <h6 class="edit_post_author_label">Author:</h6>
                      <span class="edit_post_author"></span>
                    </div>
                    <div class="col s6">
                      <h6 class="edit_post_timestamp_label">Timestamp:</h6>
                      <span class="edit_post_timestamp"></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <h6 class="edit_post_message_label">Message:</h6>
                      <span class="edit_post_message"></span>
                    </div>
                  </div>
                  <%= f.hidden_field :post_id, class: "edit_post_id" %>
                  <div class="row form_row">
                    <div class="col s6 input-field">
                      <%= f.label :team, class: "edit_post_team_label" %>
                      <%= f.text_field :team, class: "edit_post_team" %>
                    </div>
                    <div class="col s6 input-field">
                      <%= f.label :challenges, class: "edit_post_challenges_label" %>
                      <%= f.text_field :challenges, class: "edit_post_challenges" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s6 input-field">
                      <label>
                        <%= f.check_box :is_processed, class: "filled-in edit_post_is_processed" %>
                        <span>Is Processed</span>
                      </label>
                    </div>
                    <div class="col s6 input-field">
                      <label>
                      </label>
                    </div>
                  </div>

                </div>

                <div class="modal-footer">
                  <%= f.submit "Save", class: "waves-effect waves-green btn-flat green darken-2" %>
                </div>
              <% end %>
            </div>
<% end %>
