<% view_posts_path_link = @show_processed ? view_posts_path(show_processed: true) : view_posts_path %>

<div class="table-options swap-modes">
  <%= link_to view_posts_path_link, class: "waves-effect waves-light btn-small indigo darken-4 table-option" do %>
    <i class="material-icons left">chevron_left</i>
    <%= @show_processed ? "Return to Processed Data" : "Return to Unprocessed Data" %>
  <% end %>
</div>
<div class="table-options">
  <%= link_to refresh_posts_path, class: "waves-effect waves-light btn-small orange darken-2 table-option" do %>
    <i class="material-icons left">sync</i>
    Update Site Data
  <% end %>
</div>

<% if @posts.length == 0 %>
  <div class="collection empty_collection">
    No Facebook posts with invalid names! Yay!
  </div>
<% end %>
