<% view_posts_path_link = @show_processed ? view_posts_path : view_posts_path(show_processed: true) %>
<% invalid_names_posts_path_link = @show_processed ? invalid_names_posts_path(show_processed: true) : invalid_names_posts_path %>
  
<div class="table-options swap-modes">
  <%= link_to invalid_names_posts_path_link, class: "waves-effect waves-light btn-small indigo darken-4 table-option" do %>
    <i class="material-icons left">chevron_left</i>
    View Mismatched Facebook Names
  <% end %>
</div>
<div class="table-options">
  <%= link_to view_posts_path_link, class: "waves-effect waves-light btn-small orange lighten-2 table-option" do %>
    <i class="material-icons left"><%= @show_processed ? "remove" : "add" %></i>
    <%= @show_processed ? "Hide Processed Data" : "Show Processed Data" %>
  <% end %>
  <%= link_to refresh_posts_path, class: "waves-effect waves-light btn-small orange darken-2 table-option" do %>
    <i class="material-icons left">sync</i>
    Update Site Data
  <% end %>
</div>

<% if @posts.length == 0 %>
  <div class="collection empty_collection">
    No posts right now! Click the "Update Site Data" button to import posts!
  </div>
<% end %>
