<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo noselect">a2f Summer Challenge</a>
    <div class="nav_item nav_logout">
      <%= link_to signout_path, class: "waves-effect waves-light btn-small logout red lighten-2" do %>
        <i class="material-icons left">exit_to_app</i>
        Sign out
      <% end %>
    </div>
    <div class="nav_item">
      <span class="nav_userIcon">
        <% if current_user.profile_img == nil %>
          <i class="material-icons">account_circle</i>
        <% else %>
          <img src="<%= current_user.profile_img %>" class="profile" />
        <% end %>
      </span>
    </div>
    <div class="nav_item noselect">
      <%= current_user.name %>
    </div>
  </div>
</nav>

