<!DOCTYPE html>
<html>
  <head>
    <title>a2f Summer Challenge Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice animated fadeIn green lighten-2 <%= current_user == nil ? "wide-notice" : "" %>">
        <i class="material-icons">check_circle</i>
        <span class="notice-text">
          <%= raw(flash[:notice]) %>
        </span>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="notice animated fadeIn red lighten-3 <%= current_user == nil ? "wide-notice" : "" %>">
        <i class="material-icons">check_circle</i>
        <span class="notice-text">
          <%= raw(flash[:error]) %>
        </span>
      </div>
    <% end %>

    <% if current_user %>
      <div class="content">
        <% cache([current_user, "web_view"]) do %>
          <%= render "layouts/nav" %>
        <% end %>

        <div class="container">
          <%= content_for?(:admins) ? yield(:admins) : yield %>
          <%= render "posts/data_table" %>
        </div>
      </div>

    <% else %>
      <div class="content signIn">
        <div class="signIn-container">
          <%= yield %>
        </div>
      </div>
    <% end %>


  </body>
</html>
